<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <h1>{{ title }}</h1>

            <textarea #codeEditor></textarea>


            <!--<pre><code
                id="code"
                class="javascript"
                [attr.contenteditable]="isMentor ? 'false' : 'true'"
                [attr.value]="code"
                #codeEditor>
                {{ code }}
            </code></pre>-->

            <div *ngIf="isCorrect">
                <span>😄</span>
            </div>
        </div>          
    </body>
</html>






  